a {
  color: black;
}

p {
  font-size: 24px;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 20px auto;
  width: 100%;
  max-width: 1000px;

}

td {
  border: 1px solid black;
  padding: 5px;
}

th {
  background-color: blueviolet;
}

.bg-gr {
  background-color: #ccb8b8;
}
